body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151b29; /* Dark background */
    color: #e0e0e0; /* Light text color */
}

header {
    background-color: #3f51b5; /* Header background */
    color: white; /* Header text color */
    text-align: center;
    padding: 1rem;
}

.search-section, .results-section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #1e1e2f; /* Darker background for sections */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* More pronounced shadow */
    border-radius: 8px; /* Rounded corners */
}

h2 {
    color: #bb86fc; /* Light purple for headers */
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #e0e0e0; /* Light color for labels */

}

input[type="text"], select {
    width: 50%;
    display:inline;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333; /* Darker border */
    border-radius: 4px;
    background-color: #2b2b2b; /* Dark background for inputs */
    color: #e0e0e0; /* Light text color for inputs */
}

input[type="text"]:focus,
select:focus {
    outline: none; /* No outline */
    border: 1px solid #bb86fc; /* Border color on focus */
}

button {
    background-color: #6200ee; /* Button color */
    color: white; /* Button text color */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3; /* Darker shade on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #282c34; /* Darker background for list items */
    margin: 10px 0;
    padding: 15px;
    border-left: 5px solid #bb86fc; /* Purple border for list items */
    color: #e0e0e0; /* Light text color */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #3f51b5; /* Footer background */
    color: white; /* Footer text color */
}
